/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#27496d, #00909e);
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

  /* Se for utilizada uma img de background:
  largura (horizontal) e altura (vertical) */
  /* background-size: auto 100vh;  */
  /* height: 100vh;   */
}

/* Breakpoints */
/* Estilos para media a partir de 400px */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* Estilos para media a partir de 600px */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* Estilos para media a partir de 1200px */
@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s; /* Transição de cores quando passa o mouse no menu */
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: whitesmoke;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo { /* Animação do Título e subtítulo */
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 1s ease 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-title,
.site-subtitle {
  color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
  font-style: italic;
  line-height: 1.8em;
}

.contato,
.portfolio {
  min-height: 100vh;
  padding: 2em;
}

.contato h2,
.portfolio h2 {
  color: whitesmoke;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
  margin-bottom: 1.5em;
}

.portfolio .grid {
  display: grid;
  gap: 2em;  /* Define o espaçamento entre cada coluna ou linha do grid */
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px; /* Define a quantidade e a largura das colunas */ 
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px); /* Define a quantidade (3) e a largura (260px) das colunas */ 
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 180px;
  object-fit: cover; /* Ajusta as imagens de acordo com o espaço */
  object-position: center; /* Ajusta a imagem na posição que quiser */
  transition: transform 500ms; /* Tempo de execução da propriedade transform */
}

.img-portfolio:hover {
  transform: scale(1.1);  /* Aumenta a img quando passa o mouse */
}

/* @media (min-width: 1200px ) {
  .img-portfolio {
    height: auto;
    width: 100%;
  }
} */

.contato .icons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
  text-decoration: none;
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.5);
}
